.flipbook-container {
  position: relative; /* Để toolbar có thể được đặt tương đối */
}

.toolbar-toggle {
  position: absolute;
  top: 20px; /* Điều chỉnh vị trí của button */
  right: 20px; /* Điều chỉnh vị trí của button */
  background-color: #2e3537; /* Màu nền của button */
  color: white; /* Màu chữ của button */
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1000; /* Để button luôn nằm trên cùng */
}

/* Styling cho toolbar */
.toolbar {
  position: absolute;
  top: 60px; /* Đặt vị trí của toolbar dưới button toggle */
  right: 20px; /* Đặt vị trí bên phải */
  background-color: #2e3537; /* Màu nền của toolbar */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Để toolbar luôn nằm trên cùng */
}

/* Styling cho từng button trong toolbar */
.toolbar-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin: 10px 0; /* Khoảng cách giữa các nút */
  cursor: pointer;
}

.toolbar-button:hover {
  text-decoration: underline; /* Hiệu ứng khi hover */
  color: #f0f0f0;
}

.toolbar-button svg {
  margin-right: 8px;
}
