

/* src/Modal.css */
/* src/Modal.css */
.flipbook-container {
  
}

.modal-90w {
  width: 90%;
  height: 90%;
  margin: auto;
  flex: 1;
  /* Allow the document to take available space */
}

.toolbar {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Fix the toolbar to the bottom */
  bottom: 0;
  /* Align it to the bottom */
  left: 0;
  /* Align it to the left */
  right: 0;
  /* Align it to the right */
  background-color: #fff;
  /* Optional: set background color */
  padding:0.24%;
  /* Add some padding */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  /* Optional: add a shadow */
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

