.flipbook-wrapper {
  width: 100%;
  max-width: 900px; /* Điều chỉnh chiều rộng tối đa của sách */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.6s ease; /* Hiệu ứng chuyển tiếp khi lật trang */
  perspective: 1500px; /* Tạo chiều sâu 3D */
  position: relative; /* Đảm bảo flipbook luôn nằm trong container */
  margin: 0 auto; /* Đảm bảo flipbook luôn căn giữa theo chiều ngang */
}

.page {
  width: 445px; /* Chiều rộng của trang */
  height: 580px; /* Chiều cao của trang */
  display: flex;
  justify-content: center; /* Căn giữa nội dung trang */
  align-items: center;
  transform-style: preserve-3d; /* Bảo tồn không gian 3D */
  backface-visibility: hidden; /* Ẩn mặt sau của trang khi lật */
}

/* Xử lý trạng thái lật trang */
.flipbook-wrapper.flip-single {
  transform: rotateY(0deg); /* Trang đã lật, đặt trạng thái mặc định */
}
