.flipbook-wrapper {
  width: 100%;
  max-width: 1000px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jquery-pdf-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.book {
  width: 450px;
  height: 600px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.cover,
.back-cover,

.page {
  width: 445; /* Đảm bảo mỗi trang chiếm toàn bộ chiều rộng của container */
  height: 580; /* Chiều cao tự động để điều chỉnh nội dung */
  display: flex;
  border: 1px solid; /* Thêm đường viền để phân biệt các trang */
}

