.c-button {
  color: #000; /* Màu chữ */
  font-weight: 700; /* Độ đậm của chữ */
  font-size: 16px; /* Kích thước chữ */
  text-decoration: none; /* Không có gạch chân */
  padding: 0.9em 1.6em; /* Padding cho nút */
  cursor: pointer; /* Con trỏ sẽ chuyển sang hình bàn tay khi hover */
  display: flex; /* Sử dụng flex để căn giữa nội dung */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  position: relative; /* Để các phần tử con được đặt tương đối */
  z-index: 1; /* Đảm bảo nút nằm trên cùng */
  background: none; /* Không có nền mặc định */
  border: none; /* Không có viền mặc định */
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển tiếp */
  border-radius: 5px; /* Thêm bo góc cho nút */
  margin: 0 auto; /* Để căn giữa trong container */
}

.c-button--gooey {
  color: #06c8d9; /* Màu chữ khi không hover */
  text-transform: uppercase; /* Chữ in hoa */
  letter-spacing: 2px; /* Khoảng cách giữa các chữ cái */
  border: 4px solid #06c8d9; /* Viền cho nút */
  border-radius: 0; /* Không bo góc viền */
  position: relative; /* Để các phần tử con được đặt tương đối */
  transition: all 700ms ease; /* Hiệu ứng chuyển tiếp cho tất cả thuộc tính */
}

.c-button--gooey .c-button__blobs {
  height: 100%; /* Chiều cao đầy đủ */
  filter: url(#goo); /* Áp dụng filter goo */
  overflow: hidden; /* Ẩn phần tràn */
  position: absolute; /* Đặt các blob ở vị trí tuyệt đối */
  top: 0;
  left: 0;
  bottom: -3px; /* Dịch chuyển phần dưới lên một chút */
  right: -1px; /* Dịch chuyển phần bên phải lên một chút */
  z-index: -1; /* Đặt ở dưới cùng */
}

.c-button--gooey .c-button__blobs div {
  background-color: #06c8d9; /* Màu nền cho các blob */
  width: 34%; /* Chiều rộng của các blob */
  height: 100%; /* Chiều cao đầy đủ */
  border-radius: 100%; /* Bo góc hoàn toàn */
  position: absolute; /* Đặt các blob ở vị trí tuyệt đối */
  transform: scale(1.4) translateY(125%) translateZ(0); /* Hiệu ứng xuất hiện */
  transition: all 700ms ease; /* Hiệu ứng chuyển tiếp cho tất cả thuộc tính */
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%; /* Vị trí của blob thứ nhất */
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%; /* Vị trí của blob thứ hai */
  transition-delay: 60ms; /* Độ trễ cho hiệu ứng */
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%; /* Vị trí của blob thứ ba */
  transition-delay: 25ms; /* Độ trễ cho hiệu ứng */
}

.c-button--gooey:hover {
  color: #fff; /* Màu chữ khi hover */
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0); /* Hiệu ứng xuất hiện khi hover */
}

/* Disabled State */
.disabled {
  opacity: 0.5; /* Độ mờ cho trạng thái disabled */
  pointer-events: none; /* Không cho phép sự kiện chuột */
}
