

.flipbook-pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);;
}

.flipbook-magazine-viewport {
    width: 100%; /* Chiều rộng linh hoạt theo kích thước màn hình */
    max-width: 1500px; 
    height: auto; /* Chiều cao tự động dựa trên tỷ lệ hình ảnh */
    /* max-height: 80vh; Giới hạn chiều cao tối đa theo 80% chiều cao viewport */
    position: relative;
    transition: transform 0.3s ease; /* Hiệu ứng mượt khi zoom */
    transform-origin: center center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.flipbook-magazine {
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

.flipbook-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    perspective: 1000px; /* Keeps the 3D effect */
    background-color: azure;
}

.flipbook-page canvas, 
.flipbook-page div {
    max-width: 100%; /* Đảm bảo phần tử vừa với chiều rộng container */
    max-height: 100%; /* Đảm bảo chiều cao */
    object-fit: contain; /* Nếu phần tử hỗ trợ thuộc tính này */
    transition: transform 0.6s ease-out;
}


.flipbook-page .turning {
    transform: rotateY(180deg); /* Lật theo trục Y */
    transition: transform 0.6s ease-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* flipbook.css */
.flipbook-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    object-fit: contain;
}

.flipbook-nav-button.previous {
    left: 10px; /* Sát cạnh trái */
}

.flipbook-nav-button.next {
    right: 10px; /* Sát cạnh phải */
}

.flipbook-magazine-viewport.zoomer {
    transform: scale(1.2); /* Tăng kích thước lên 20% khi phóng to */
    transition: transform 0.3s ease; /* Hiệu ứng mượt khi chuyển đổi */
}

.flipbook-magazine-viewport.zoomer .flipbook-magazine {
    pointer-events: none; /* Ngăn chặn thao tác với các phần tử khi phóng to */
}

.flipbook-page.zoomer {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng rõ ràng hơn khi phóng to */
}

.flipbook-page.zoomer canvas {
    transform: scale(1.2); /* Phóng to nội dung canvas */
    transition: transform 0.3s ease;
}

.flipbook-page.zoomer img {
    transform: scale(1.2); /* Phóng to hình ảnh khi dùng ảnh làm trang */
    transition: transform 0.3s ease;
}
