/* Toàn bộ khung chứa flipbook */
.flipbook-pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

}

/* Viewport của flipbook */
.flipbook-magazine-viewport {
    width: 100%;
    max-width: 1500px;
    height: auto;
    position: relative;
    transition: transform 0.3s ease;
    transform-origin: center center;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

/* Flipbook chính */
.flipbook-magazine {
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

/* Trang của flipbook */
.flipbook-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    perspective: 1000px;
    background-color: azure;
}

.flipbook-page canvas, 
.flipbook-page img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.6s ease-out;
}

.flipbook-page .turning {
    transform: rotateY(180deg);
    transition: transform 0.6s ease-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Nút điều hướng (trước/sau) */
.flipbook-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.flipbook-nav-button:hover {
    background-color: #f0f0f0;
}

.flipbook-nav-button.previous {
    left: 10px;
}

.flipbook-nav-button.next {
    right: 10px;
}
.zoomer {
    position: relative;
}

.result {
    position: fixed;
    top: 10px;  /* Cố định ở góc trên cùng bên phải */
    right: 10px;
    width: 300px;  /* Kích thước kính lúp hình vuông */
    height: 400px;
    border-radius: 0;  /* Không bo góc, là hình vuông */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng đổ bóng */
    background-repeat: no-repeat;
    background-size: 400%;  /* Phóng to nội dung bên trong */
    background-position: center;
    pointer-events: none;  /* Không ảnh hưởng đến sự tương tác của chuột */
    z-index: 9999;  /* Đặt kính lúp lên trên các phần tử khác */
}

.result.hide {
    display: none;  /* Ẩn khi không cần thiết */
}

.toolbar {
    position: absolute;
    bottom: 10px; /* Đặt Toolbar ở phía dưới */
    left: 50%;
    margin-left: 110px;
    transform: translateX(-50%); /* Căn giữa theo chiều ngang */
    z-index: 10; /* Đảm bảo Toolbar nằm phía trên các thành phần khác */
    opacity: 0.5; /* Đặt độ mờ ban đầu là 50% */
    transition: opacity 0.3s ease; /* Hiệu ứng mượt khi thay đổi độ mờ */
  }
  
  .toolbar:hover {
    opacity: 1; /* Độ mờ trở lại 100% khi hover */
  }
  