.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.upload-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

.pdf-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 11;
}

.exit-icon {
    width: 24px;
    height: 24px;
}

.magazine-viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    max-height: 90%;
    overflow: hidden;
}

.magazine {
    transform: translateX(0);
    height: 100%;
}

.page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
